@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model int

@{
    ViewData["Title"] = "Welcome";
}

@{ 
    var userIsAdmin = User.IsInRole(WebConstants.AdminRoleName);
    var userName = User.Identity.Name;
    string name =userName.Substring(0, userName.IndexOf('@'));
}


<div class="row mb-5 ml-5 mr-5" style="padding-top:70px; margin-bottom:50px">

    <div class=" text-center offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 offset-md-3 col-md-6" style="padding-right:15px">

        <div class="text-center text-dark mb-5 pb-5 pt-5">
            <h1 class="title-contact">Welcome, @name!</h1>
        </div>

        @if (!userIsAdmin)
        {
            <p class="welcome-message" >We'd love to create something amazing together!</p>

            <div class="row mt-5" style="text-align:center">

                <div class="col pl-2 pr-2" style="font-weight:500">
                    <form action="/Services/All">
                        <div>
                            <input type="submit" value="Explore Services">
                        </div>
                    </form>
                </div>

            </div>
        }

    </div>

</div>

