@{
    ViewData["Title"] = "Admin Welcome";
}

<div class="welcome-box row mb-5 ml-5 mr-5">
    <div class="col mt-5 mb-5 ml-5 mr-5 text-center">
        <h1 class="title-contact">Welcome in admin area!</h1>

        <div class="row mt-5 mb-5 pb-5">
          
            <div class="col pl-2 pr-2">
                <form action="/Home/Index">
                    <div>
                        <input type="submit" value="Home Page">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>







