@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<nav class="recruit-breadcrumb" aria-label="breadcrumb mt-5 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="not-active" href="/RecruitZone/Index">Home</a></li>
        <li class="breadcrumb-item"><a class="not-active" href="/Candidates/All">Candidates</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>


<div class="create-candidate-box">

    <h2 class="text-center">Create Candidate</h2>
    <hr class="bg-primary w-75">
    <form class="my-custom-form pb-5 mx-auto w-50 mt-5" method="post">
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label for="name" class="h3 mb-2">First Name</label>
            </div>
            <input type="text" class="form-control" id="name" name="firstName" />
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Last Name</label>
            </div>
            <input type="text" class="form-control" id="name" name="lastName" />
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Email</label>
            </div>
            <input type="text" class="form-control" id="name" name="email" />
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Bio</label>
            </div>
            <textarea type="text" class="form-control" id="name" name="bio"></textarea>
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Birthdate</label>
            </div>
            <input type="text" class="form-control" id="name" name="birthDate" />
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Skill</label>
            </div>
            <input type="text" class="form-control" id="name" name="skill" />
        </div>

        <h2 class="text-center mt-2">Recruiter Information</h2>
        <hr class="bg-primary w-75">
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Last Name</label>
            </div>
            <input type="text" class="form-control" id="name" name="recruiterName" />
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Email</label>
            </div>
            <input type="text" class="form-control" id="name" name="recruiterEmail" />
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Country</label>
            </div>
            <input type="text" class="form-control" id="name" name="recruiterCountry" />
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-block btn-primary text-white mb-3">Create</button>
        </div>
    </form>
</div>
