@model CreateCandidateFormModel

@{
    ViewData["Title"] = "Create Candidate";
}


    <div class="create-candidate-box col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">

        <nav class="recruit-breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb p-0">
                <li class="breadcrumb-item"><a class="not-active" href="/RecruitZone/Index">RecruitZone</a></li>
                <li class="breadcrumb-item"><a class="not-active" href="/Candidates/All">Candidates</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create</li>
            </ol>
        </nav>

        <div class="add-template-title text-center text-dark mb-5 pb-5">
            <h1 class="text-center">Create Candidate</h1>
        </div>

        <form method="post">

            <!--<div asp-validation-summary="All" class="text-danger"></div>-->

            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control mb-0" placeholder="">
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control mb-0" placeholder="">
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control mb-0" placeholder="">
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bio"></label>
                <textarea asp-for="Bio" rows="4" class="form-control mb-0" placeholder=""></textarea>
                <span asp-validation-for="Bio" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDate">Birthdate</label>
                <input asp-for="BirthDate" class="form-control mb-0" placeholder="">
                <span asp-validation-for="BirthDate" class="small text-danger"></span>
            </div>

            <h2 class="text-center mt-5">Recruiter Information</h2>
            <hr class="bg-primary w-100">

            <div class="form-group">
                <label asp-for="RecruiterName">Recruiter Name</label>
                <input asp-for="RecruiterName" class="form-control mb-0" placeholder="">
                <span asp-validation-for="RecruiterName" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RecruiterEmail">Recruiter Email</label>
                <input asp-for="RecruiterEmail" class="form-control mb-0" placeholder="">
                <span asp-validation-for="RecruiterEmail" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RecruiterCountry">Recruiter Country</label>
                <input asp-for="RecruiterCountry" class="form-control mb-0" placeholder="">
                <span asp-validation-for="RecruiterCountry" class="small text-danger"></span>
            </div>

            <div>
                <input class="btn mb-5" type="submit" value="Create" />
            </div>

        </form>
    </div>


<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#recruit").addClass("active");
    });</script>
