@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Candidate Edit";
}

@{
    var userIsAdmin = User.IsInRole(WebConstants.AdminRoleName);
}

@model EditCandidateFormModel


<div class="container">

    <div class="add-template-box">

        <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 offset-md-3 col-md-6">

            <nav class="recruit-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb p-0">
                    <li class="breadcrumb-item"><a class="not-active" href="/RecruitZone/Index">RecruitZone</a></li>
                    <li class="breadcrumb-item"><a class="not-active" href="/Candidates/All">Candidates</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit</li>
                </ol>
            </nav>

            <div class="add-template-title text-center text-dark mb-5 pb-5">
                <h1 class="text-center">Edit Candidate</h1>
            </div>
            
            @if (userIsAdmin)
            {
                <form method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" class="form-control" placeholder="">
                        <span asp-validation-for="FirstName" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" class="form-control" placeholder="">
                        <span asp-validation-for="LastName" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="">
                        <span asp-validation-for="Email" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Bio"></label>
                        <textarea asp-for="Bio" class="form-control" placeholder="">@Model.Bio</textarea>
                        <span asp-validation-for="Bio" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BirthDate">Birthdate</label>
                        <input asp-for="BirthDate" class="form-control" placeholder="">
                        <span asp-validation-for="BirthDate" class="small text-danger"></span>
                    </div>

                    <div class="bg-white mb-5">
                        <div class="list-group-item list-group-item-action active bg-info mb-2">
                            Current Skills
                        </div>
                        @foreach (var skill in Model.CandidateSkills)
                        {<p class="p-2 pl-3 m-0">@skill.Name</p>}
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="Skill">Add Skill</label>
                        <input asp-for="Skill" class="form-control" placeholder="Skill Name...">
                    </div>

                    <input class="btn mt-3" type="submit" value="Save" />
                </form>
            }
            else
            {
                <div asp-validation-summary="All" class="error-message text-danger"></div>
            }
        </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".active").removeClass("active");
            $("#recruit").addClass("active");
                });</script>

