/**
 * Demo page styles, all list scroll effects styles are in sctroll.css
 */


article {
	display: inline-block;
	margin: 20px;
}

h2 {
	font-size: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

small {
	opacity: 0.6;
	font-style: italic;
	font-size: 14px;
	margin-left: 5px;
}

/**
 * List used for the demo page
 */
.wave {
	position: relative;
	height: 480px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-ms-perspective: 400px;
	-o-perspective: 400px;
	perspective: 400px;
}
	.wave .list-spec {
		position: relative;
		padding: 70px;
		background: #eee;
		color: #252525;
		font-size: 18px;
		z-index: 2;

		-webkit-transform: translateZ(0px);
		   -moz-transform: translateZ(0px);
		    -ms-transform: translateZ(0px);
		     -o-transform: translateZ(0px);
		        transform: translateZ(0px);
	}
	ul .list-spec:nth-child(odd) {
		background: #fff;
	}

.wave {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.box-img-1 {
	background: dimgray;
	width: 300px;
	height: 300px;
}

