@{
    ViewData["Title"] = "Contact";
}


<div class="row mt-5 mb-5 ml-5 mr-5" style="padding-top:70px; margin-bottom:100px">
    <div class="col mt-5 mb-5 ml-5 mr-5" style="text-align:center">
        <h2 style="font-size:40px">Thank you <br />for connecting with us!</h2>
        <p style="font-size:20px">We will send you an email within the next two working days.</p>

        <div class="row mt-5 mb-5 pb-5" style="text-align:center; padding-top:70px">
            
            <div class="col pl-2 pr-2" style="font-weight: 500">
                <form action="/Home/Index">
                    <div class="">
                        <input type="submit" value="Home Page">
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>







