@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model OrderTemplateModel

@{
    ViewData["Title"] = "Confirm";
}


<div class="confirm-order-box row mb-5 ml-5 mr-5">

    <div class="col mt-5 mb-5 ml-5 mr-5">

        <h2>Thank you<br />for your order!</h2>

        <p>You will recieve an email with instructions for downloading the template.</p>

        <div class="buttons-flex-box">

                <form action="/Templates/All">
                    <div>
                        <input type="submit" value="Templates Page">
                    </div>
                </form>

                <form action="/Home/Index">
                    <div>
                        <input type="submit" value="Home Page">
                    </div>
                </form>

        </div>

    </div>
 
</div>





