@{
    ViewData["Title"] = "Home Page";
}


<div class="bgimg-1">
    <div class="caption">

        <div class="logo-img">
            <img class="position-absolute centered w-25" style="z-index:-1; padding-top:280px" src="../Images/z-s.svg" />
        </div>

    </div>
</div>

<div class="zonart-design-box" style="
     background-color: white;
     text-align: center;
     padding: 50px 80px;
     text-align: justify;
     line-height: 30px;
     opacity: 0.8">
    <h5 class="pt-2 pb-2 pl-5 pr-5" style="text-align:center; font-family:'Jost', sans-serif; color: gray; letter-spacing:7px; font-size: 15px; line-height: 25px; margin-bottom:50px">ZONART DESIGN STUDIO</h5>

    <p class="ml-0 mr-0 mb-4" style="color:black; font-size:70px; font-family:'Playfair Display', serif; color:black; text-align:center; letter-spacing:-2px">The best design <br />is the simplest one that works.</p>
    <h6 class="" style="text-align: center; font-family:'Jost', sans-serif; color: orangered; letter-spacing: 5px; font-size: 15px; margin-bottom:0px; margin-top:37px">Albert Einstein</h6>

</div>

<div class="bgimg-2">
    <div class="caption">
        <span class="border">SERVICES</span>
    </div>
</div>

<div style="position:relative;">
    <div style="color:#ddd;background-color:#212020;text-align:center;padding:50px 100px;text-align: justify;">

        <div class="row">
        
            <a class="logos-link" href="">
                <section class="col text-center pt-3 pl-1 pr-1 pb-3 ml-5 mr-5 mt-5 mb-5" style="font-weight: 500">
                    <img src="../Images/png/logo-new.png" style="color:white; width:67px; padding:14px 14px 14px 14px" alt="Alternate Text" /><br />
                    <p class="mt-3 mb-3">BRAND IDENTITY</p>
                </section>
            </a>
            
            <div class="col text-center pt-3 pl-1 pr-1 pb-3 ml-5 mr-5 mt-5 mb-5" style="font-weight: 500">
                <img src="../Images/print.svg" style="color:white; width:70px; padding:7px 7px 7px 7px" alt="Alternate Text" /><br />
                <div class="mt-3 mb-3" style="font-family: Jost; letter-spacing:1px">PRINT COLLATERAL</div>
            </div>

            <div class="col text-center pt-3 pl-1 pr-1 pb-3 ml-5 mr-5 mt-5 mb-5" style="font-weight: 500">
                <img src="../Images/png/web-development.png" style="color:white; width:67px; padding:4px 4px 4px 4px" alt="Alternate Text" /><br />
                <div class="mt-3 mb-3" style="font-family:Jost; letter-spacing:1px">WEB DEVELOPMENT</div>
            </div>

            <div class="col text-center pt-3 pl-1 pr-1 pb-3 ml-5 mr-5 mt-5 mb-5" style="font-weight: 500">
                <img src="../Images/png/bag.png" style="color:white; width:63px; padding:7px 7px 7px 7px; margin-bottom:3px" alt="Alternate Text" /><br />
                <div class="mt-3 mb-3" style="font-family:Jost; letter-spacing: 1px">PACKAGING DESIGN</div>
            </div>

            <p style="font-size: medium; font-weight:300; line-height:30px; padding-top: 50px">Your brand isn’t just a logo. It is the creative platform that unifies the way the world sees your business. We give your branding the care it deserves - analysing your market and evaluating user needs to create an identity that makes you stand out. Our design team works collaboratively to give your company an eye-catching brand to put you ahead of your competitors. From logos to print work to packaging, we deliver inspired, effective, intelligent work for your brand. </p>

        </div>

    </div>

</div>

<div class="bgimg-3">
    <div class="caption">
        <span class="border">STAND OUT</span>
    </div>
</div>

<div style="position:relative;">
    <div style="color:#ddd; background-color:white; text-align:center; padding:50px 80px; text-align: justify">
        <p style="line-height:2; color:black">We help organizations and individuals around the globe with branding, print collaterals, packaging design, infographics, advertising, and web development projects. We’ll help you design and build the perfect website for both your audience and your content creators – and then we’ll help bring the right audience to your site. Quality design not only extends your brand, but it increases the effectiveness of your print pieces. Our design ideas will help you accomplish your goal. Elevate your brand with graphic design that is creative, responsive, fresh and tailor-made for you. From a custom logo design to a complete branding revamp, our graphic design skills will make you stand out.</p>
    </div>
</div>

<div class="bgimg-8">
    <div class="caption">
        <span class="border">STRENGTH IN SIMPLICITY</span>
    </div>
</div>


<div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify">
        <p style="line-height:2">
            We believe that creativity and design is the engine of business — and both are more pivotal than ever to the success of a modern brand. Using exceptional craft, brave simplicity and inspiring language we deliver design that changes the way we think, feel and act. We find the true essence of a brand, removing confusion to focus on the essentials. Creating clear and bold communication that makes sense and gets noticed. Simple design is the result of complex thinking, so all projects begin with clear strategy, thorough research and careful planning.
    </div>
</div>


<div class="bgimg-5">
    <div class="caption">
        <!--<a href="/Contact/Add"><span class="border" style="background-color:transparent;font-size:20px;color: #f7f7f7;border: 3px solid white; letter-spacing: 5px; line-height: 51px; z-index: 100">GET STARTED NOW</span></a>-->
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#home").addClass("active");
    });
</script>


